@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 75%;
    --foreground: 0 0% 7%;
    --card: 0 0% 80%;
    --card-foreground: 0 0% 7%;
    --primary: 0 0% 13%;
    --primary-foreground: 0 0% 90%;
    --secondary: 0 0% 70%;
    --secondary-foreground: 0 0% 10%;
    --muted: 0 0% 71%;
    --muted-foreground: 0 0% 32%;
    --accent: 0 0% 71%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 90%;
    --border: 0 0% 64%;
    --input: 0 0% 64%;
    --ring: 0 0% 13%;
    --radius: 0.5rem;
    --chart-success: 142 71% 45%;
    --chart-error: 0 84% 60%;
    --chart-primary: 221 83% 53%;
    --chart-warning: 38 92% 50%;
    --chart-muted: 0 0% 55%;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 93%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 93%;
    --primary: 0 0% 93%;
    --primary-foreground: 0 0% 12%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 93%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 93%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 93%;
    --border: 0 0% 24%;
    --input: 0 0% 24%;
    --ring: 0 0% 60%;
    --chart-success: 142 71% 45%;
    --chart-error: 0 62% 50%;
    --chart-primary: 217 91% 60%;
    --chart-warning: 38 92% 50%;
    --chart-muted: 0 0% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
